*.swp
*.aux
*.lof
*.log
*.lot
*.maf
*.mlf1
*.mlf2
*.mlf3
*.mlf4
*.mlf5
*.mlf6
*.mlf7
*.mlt1
*.mlt2
*.mlt3
*.mlt4
*.mlt5
*.mlt6
*.mlt7
*.mtc
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.pdf
*.toc
*.out
*.nav
*.snm
*~
*.bbl
*.blg
*.gz

